services:
  varta-mqtt-service:
    image: ghcr.io/marscerbl/vartal_pulse_neo_to_mqtt:latest
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./.env:/app/.env:ro
    container_name: varta-mqtt-service
    environment:
      - PYTHONUNBUFFERED=1
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
